.number-of-subgroup {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 42px;
    font-size: 15px;
    text-align: center;
    font-weight: 300;
    width: 300px !important;

    color: #1572e8;
    background-color: #dbeafc;
    border-right: 3px solid white;
}

.all-subgroup {
    display: flex;
    width: 3636px;
}


